{% extends "users_base.html" %}
{% block users_content %}
<div class="section">
  <div class="section__header">
    <h1 class="section__title">{{ _('realname_import') }}</h1>
  </div>
  <div class="section__body">
    <blockquote class="note">
      <p>{{ _('从Excel或csv中复制[用户名],[身份标识(0/1/2)],[姓名]来添加实名认证。如：student1,1,realname') }}</p>
    </blockquote>
    {{ noscript_note.render() }}
    <p name="messages"></p>
    {{ form.form_textarea({
        columns:null,
        label:'实名认证',
        name:'realnames',
        nospellcheck: true
        }) }}
    <div class="row"><div class="column">
      <button name="preview" class="rounded primary button">{{ _('Preview') }}</button>
      <button name="submit" class="rounded button">{{ _('Submit') }}</button>
    </div></div>
  </div>
</div>
{% endblock %}
