{% extends "users_base.html" %}
{% block users_content %}
<div class="section">
    <div class="section__header">
        <h1 class="section__title">{{ _('realname_set') }}</h1>
    </div>
    <div class="section__body">
        <form method="post">
          {{ form.form_text({
            label:'Username / UID',
            name:'uidOrName',
            autofocus:true,
            required:true,
            value:uidOrName
          }) }}
          {{ form.form_select({
            label:'认证',
            name:'flag',
            options:{
            '0': '不添加身份',
            '1': '学生',
            '2': '老师'
            },
            value: flag
          }) }}
          {{ form.form_text({
            label:'姓名',
            name:'name',
            value:name
          }) }}
            <div class="row">
                <div class="columns">
                    <button type="submit" class="rounded primary button">
                        {{ _('Ok') }}
                    </button>
                    <button type="button" class="rounded button" onclick="window.history.go(-1)">
                        {{ _('Cancel') }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}